life_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ping.insuranceagents.com/ping"
  xmlns:tns="http://ping.insuranceagents.com/ping">
  <include schemaLocation="distribution_type.xsd"/>
	<element name="lead_life" type="lead_life_record"/>
	<complexType name="lead_life_record">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="distribution" type="distribution_type"/>
			<element name="addr" type="addr_type"/>
			<element name="child" type="boolean"/>
			<element name="city" type="city_type"/>
			<element maxOccurs="unbounded" minOccurs="0" name="conditions" type="conditions_type"/>
			<element name="coverage_amt" type="coverage_amt_type"/>
			<element name="declined" type="boolean"/>
			<element name="dob" type="date"/>
			<element name="dui" type="boolean"/>
			<element name="email" type="email_type"/>
			<element name="fname" type="name_type"/>
			<element name="gender" type="gender_type"/>
			<element name="has_cond" type="boolean"/>
			<element name="height" type="height_type"/>
			<element name="hospital" type="boolean"/>
			<element minOccurs="0" name="insco" type="string" />
			<element name="insured" type="boolean"/>
			<element name="lname" type="name_type"/>
			<element minOccurs="0" name="med_desc" type="textarea_type"/>
			<element name="medication" type="boolean"/>
			<element name="occupation" type="occupation_type"/>
			<element name="phone" type="phone_type"/>
			<element minOccurs="0" name="phone2" type="phone_type"/>
			<element name="physician" type="boolean"/>
			<element name="policy_type" type="policy_type_type"/>
			<element name="rel_cancer" type="boolean"/>
			<element name="rel_heart" type="boolean"/>
			<element name="smoker" type="boolean"/>
			<element name="spouse" type="boolean"/>
			<element name="state" type="state_type"/>
			<element name="term" type="term_type"/>
			<element name="weight" type="weight_type"/>
			<element name="zip" type="zip_type"/>
		</sequence>
	</complexType>
	<simpleType name="email_type">
		<restriction base="string">
			<minLength value="5"/>
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<complexType name="height_type">
		<sequence>
			<element name="feet">
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="7"/>
					</restriction>
				</simpleType>
			</element>
			<element name="inches">
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="11"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="name_type">
		<restriction base="string">
			<minLength value="2"/>
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="phone_type">
		<restriction base="string">
			<minLength value="10"/>
			<maxLength value="10"/>
			<pattern value="[0-9]{10}"/>
		</restriction>
	</simpleType>
	<simpleType name="state_type">
		<restriction base="string">
			<minLength value="2"/>
			<maxLength value="2"/>
			<pattern value="[A-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="textarea_type">
		<restriction base="string">
			<minLength value="2"/>
			<maxLength value="255"/>
		</restriction>
	</simpleType>
	<simpleType name="weight_type">
		<restriction base="integer">
			<minInclusive value="1"/>
			<maxInclusive value="500"/>
		</restriction>
	</simpleType>
	<simpleType name="zip_type">
		<restriction base="string">
			<minLength value="5"/>
			<maxLength value="5"/>
			<pattern value="[0-9]{5}"/>
		</restriction>
	</simpleType>
	<simpleType name="addr_type">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="city_type">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="conditions_type">
		<restriction base="string">
			<enumeration value="Asthma"/>
			<enumeration value="Cancer"/>
			<enumeration value="Depression"/>
			<enumeration value="Diabetes"/>
			<enumeration value="Heart Attack"/>
			<enumeration value="High Blood Pressure"/>
			<enumeration value="HIV / AIDS"/>
			<enumeration value="Stroke"/>
			<enumeration value="Unlisted Condition"/>
		</restriction>
	</simpleType>
	<simpleType name="coverage_amt_type">
		<restriction base="string">
			<enumeration value="Not Sure"/>
			<enumeration value="$ 10,000"/>
			<enumeration value="$ 25,000"/>
			<enumeration value="$ 50,000"/>
			<enumeration value="$ 75,000"/>
			<enumeration value="$ 100,000"/>
			<enumeration value="$ 150,000"/>
			<enumeration value="$ 200,000"/>
			<enumeration value="$ 250,000"/>
			<enumeration value="$ 300,000"/>
			<enumeration value="$ 400,000"/>
			<enumeration value="$ 500,000"/>
			<enumeration value="$ 600,000"/>
			<enumeration value="$ 700,000"/>
			<enumeration value="$ 800,000"/>
			<enumeration value="$ 900,000"/>
			<enumeration value="$ 1 Million"/>
			<enumeration value="$ 2 Million"/>
			<enumeration value="$ 3 Million"/>
			<enumeration value="$ 4 Million"/>
			<enumeration value="$ 5 Million"/>
			<enumeration value="$ 6 Million"/>
			<enumeration value="$ 7 Million"/>
			<enumeration value="$ 8 Million"/>
			<enumeration value="$ 9 Million"/>
		</restriction>
	</simpleType>
	<simpleType name="gender_type">
		<restriction base="string">
			<enumeration value="M"/>
			<enumeration value="F"/>
		</restriction>
	</simpleType>
	<simpleType name="occupation_type">
		<restriction base="string">
			<enumeration value="Select:"/>
			<enumeration value="Advertising / Public Relations"/>
			<enumeration value="Arts / Entertainment / Publishing"/>
			<enumeration value="Banking / Mortgage"/>
			<enumeration value="Clerical"/>
			<enumeration value="Clergy / Religious"/>
			<enumeration value="Construction / Facilities"/>
			<enumeration value="CPA / Auditor"/>
			<enumeration value="Customer Service / Teller"/>
			<enumeration value="Disabled"/>
			<enumeration value="Doctor / Dentist"/>
			<enumeration value="Education / Training"/>
			<enumeration value="Engineering / Architecture"/>
			<enumeration value="Government"/>
			<enumeration value="Health Care"/>
			<enumeration value="Homemaker"/>
			<enumeration value="Hospitality / Travel"/>
			<enumeration value="Human Resources"/>
			<enumeration value="Insurance"/>
			<enumeration value="Internet / News Media"/>
			<enumeration value="Law Enforcement / Security"/>
			<enumeration value="Legal"/>
			<enumeration value="Management Consulting"/>
			<enumeration value="Manufacturing / Operations"/>
			<enumeration value="Marketing"/>
			<enumeration value="Military / Defense"/>
			<enumeration value="Non-Profit / Volunteer"/>
			<enumeration value="Other"/>
			<enumeration value="Pharmaceutical / Biotech"/>
			<enumeration value="Real Estate"/>
			<enumeration value="Restaurant / Food Service"/>
			<enumeration value="Retail"/>
			<enumeration value="Retired"/>
			<enumeration value="Sales"/>
			<enumeration value="Self Employed"/>
			<enumeration value="Skilled Worker"/>
			<enumeration value="Student"/>
			<enumeration value="Technology"/>
			<enumeration value="Telecommunications"/>
			<enumeration value="Transportation / Logistics"/>
			<enumeration value="Unemployed"/>
			<enumeration value="Advertising / Public Relations"/>
			<enumeration value="Arts / Entertainment / Publishing"/>
			<enumeration value="Banking / Mortgage"/>
			<enumeration value="Clerical"/>
			<enumeration value="Clergy / Religious"/>
			<enumeration value="Construction / Facilities"/>
			<enumeration value="CPA / Auditor"/>
			<enumeration value="Customer Service / Teller"/>
			<enumeration value="Disabled"/>
			<enumeration value="Doctor / Dentist"/>
			<enumeration value="Education / Training"/>
			<enumeration value="Engineering / Architecture"/>
			<enumeration value="Government"/>
			<enumeration value="Health Care"/>
			<enumeration value="Homemaker"/>
			<enumeration value="Hospitality / Travel"/>
			<enumeration value="Human Resources"/>
			<enumeration value="Insurance"/>
			<enumeration value="Internet / News Media"/>
			<enumeration value="Law Enforcement / Security"/>
			<enumeration value="Legal"/>
			<enumeration value="Management Consulting"/>
			<enumeration value="Manufacturing / Operations"/>
			<enumeration value="Marketing"/>
			<enumeration value="Military / Defense"/>
			<enumeration value="Non-Profit / Volunteer"/>
			<enumeration value="Other"/>
			<enumeration value="Pharmaceutical / Biotech"/>
			<enumeration value="Real Estate"/>
			<enumeration value="Restaurant / Food Service"/>
			<enumeration value="Retail"/>
			<enumeration value="Retired"/>
			<enumeration value="Sales"/>
			<enumeration value="Self Employed"/>
			<enumeration value="Skilled Worker"/>
			<enumeration value="Student"/>
			<enumeration value="Technology"/>
			<enumeration value="Telecommunications"/>
			<enumeration value="Transportation / Logistics"/>
			<enumeration value="Unemployed"/>
			<enumeration value="Advertising / Public Relations"/>
			<enumeration value="Arts / Entertainment / Publishing"/>
			<enumeration value="Banking / Mortgage"/>
			<enumeration value="Clerical"/>
			<enumeration value="Clergy / Religious"/>
			<enumeration value="Construction / Facilities"/>
			<enumeration value="CPA / Auditor"/>
			<enumeration value="Customer Service / Teller"/>
			<enumeration value="Disabled"/>
			<enumeration value="Doctor / Dentist"/>
			<enumeration value="Education / Training"/>
			<enumeration value="Engineering / Architecture"/>
			<enumeration value="Government"/>
			<enumeration value="Health Care"/>
			<enumeration value="Homemaker"/>
			<enumeration value="Hospitality / Travel"/>
			<enumeration value="Human Resources"/>
			<enumeration value="Insurance"/>
			<enumeration value="Internet / News Media"/>
			<enumeration value="Law Enforcement / Security"/>
			<enumeration value="Legal"/>
			<enumeration value="Management Consulting"/>
			<enumeration value="Manufacturing / Operations"/>
			<enumeration value="Marketing"/>
			<enumeration value="Military / Defense"/>
			<enumeration value="Non-Profit / Volunteer"/>
			<enumeration value="Other"/>
			<enumeration value="Pharmaceutical / Biotech"/>
			<enumeration value="Real Estate"/>
			<enumeration value="Restaurant / Food Service"/>
			<enumeration value="Retail"/>
			<enumeration value="Retired"/>
			<enumeration value="Sales"/>
			<enumeration value="Self Employed"/>
			<enumeration value="Skilled Worker"/>
			<enumeration value="Student"/>
			<enumeration value="Technology"/>
			<enumeration value="Telecommunications"/>
			<enumeration value="Transportation / Logistics"/>
			<enumeration value="Unemployed"/>
		</restriction>
	</simpleType>
	<simpleType name="policy_type_type">
		<restriction base="string">
			<enumeration value="Term"/>
			<enumeration value="Permanent"/>
			<enumeration value="Variable"/>
			<enumeration value="Other / Not Sure"/>
		</restriction>
	</simpleType>
	<simpleType name="term_type">
		<restriction base="string">
			<enumeration value="Not Sure"/>
			<enumeration value="10 Years"/>
			<enumeration value="15 Years"/>
			<enumeration value="20 Years"/>
			<enumeration value="30 Years"/>
		</restriction>
	</simpleType>
</schema>
